SERVER_PORT=8800
SERVER_PREFIX = /api

SWAGGER_URL = /swagger/api

JWT_SECRET =
ACCESS_TOKEN_EXPIRES_IN =
REFRESH_TOKEN_EXPIRES_IN =

# hash-saltOrRounds
HASH_SALT_OR_ROUNDS =

# github
CLIENT_ID=
CLIENT_SECRETS=

# DATABASE
POSTGRES_USER = johndoe
POSTGRES_PASSWORD = randompassword
POSTGRES_HOST = localhost
POSTGRES_PORT = 5432
POSTGRES_DB = mydb
POSTGRES_URL = postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}
