*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

body {
  overflow: hidden;
}

a {
  color: inherit;
}

a:hover {
  color: inherit;
}

li {
  list-style-type: none;
}

.dark {
  color-scheme: dark;
}

[theme='dark'] {
  color: #fff;
}
